.menuContainer {
    display: flex;
    flex-direction: row;
    gap: 2em;
    font-size: 0.8em;
    font-weight: 500;
    width: 246px;
}

.menuItemHeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menuItemBodyContainer {
    position: absolute;
    display: flex;
    margin-top: 3em;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    gap: 1em;
}

.menuItemBodyContainer a {
    color: lightgrey; /* 기본 링크 색상 설정 */
    text-decoration: none; /* 링크 밑줄 제거 */
    transition: color 0.3s; /* 색상 변화에 애니메이션 적용 */
}

.menuItemBodyContainer a:hover {
    color: black; /* Hover 시 색상 변경 */
}

