/* styles/profileIcon.css */
.profileIcon {
    cursor: pointer;
    transition: transform 0.3s;
    align-items: center;
    margin: 0;
    display: flex;
    width: 16px;
    height: 16px;
}

.profileIcon.rotate {
    transform: rotate(45deg);
}

.subMenu {
    /* 이전 코드 유지 */
}

.subMenuItem {
    /* 이전 코드 유지 */
}

.subMenuItem:hover {
    /* 이전 코드 유지 */
}
